

/*-------------------- Layout ------------------*/

#header-top{
  margin: 0.5em 0 ;
}

#footer-top{
  padding: 2em 0;
}

#footer-bottom {
  background: #222;
  padding: 2em 0;
  color: #ddd;
}

#logo {
  width: 5em;
}


.quotation {
  max-width: 60em;
  margin: 0 auto;
}


/*-------------------- Color & Scheme ------------------*/

h1, h2 {
  color: #eee;
}

.selected a{
  color: #ddd;
  border: 2px solid #ddd;
  border-radius: 1.5em;
}



/*nav {
  background-image: url("images/header-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}*/

/*-------------------- Images ------------------*/

img {

  width: 100%;

}

footer img {
  width: 45px;
}







/*-------------------- MEDIA QUERIES ------------------*/

@media (max-width: 768px) {
  #logo {
    width: 40px;
  }
  #header-top{
    margin: 0;
  }

  #hamber {
    margin-bottom: 1em;
  }
}
