

/*-------------------- Layout ------------------*/

#header-top{
  margin: 0.5em 0 ;
/*  position: fixed; /* Set the navbar to fixed position */
  /*top: 0;  Position the navbar at the top of the page*/*/
}

#footer-top{
  padding: 2em;
  margin: 0.5em;
}

#footer-top img{
  margin:0 0.5em;
}

#footer-bottom {
  background: #222;
  padding: 2em 0;
  color: #ddd;
}

#logo {
  width: 5em;
}


.quotation, .blog{
  max-width: 60em;
  margin: 0 auto;
}

.assessment {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1em;
}

.assignment {
  /*padding-bottom: 2em;*/
  height: 23em;
}

.assignment-image {
  margin-bottom: 2em;
}


#about {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1em;

}


/*-------------------- Typography------------------*/

body{
  font-family: 'Raleway', sans-serif;
}

.introduction {
    max-width: 30em;
    margin: 0 auto;
    line-height: 1.5em;

    font-size: 1.2em;
}

.skills {
  max-width: 32em;
  margin: 0 auto;
}

/*-------------------- Color & Scheme ------------------*/

h1, h2 {
  color: #eee;
}

.selected a{
  color: #ddd;
  border: 2px solid #ddd;
  border-radius: 1.5em;
}

.project {
  padding-bottom: 2em;
  border-bottom: 1px solid #ddd;
}

#portfolio {
  /*background: #eee;*/
}


.php {
  /*background: #eee;*/
}

/*nav {
  background-image: url("images/header-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}*/

/*-------------------- IMAGES------------------*/

img {

  width: 100%;

}

.skills img {
  width: 3em;
  margin: 0.5em 0.8em;
}

#expert {
  width: 3em;

}

.chao {
  max-width: 13em;
  margin: 0 auto;
}

.images {
  width: 26em;
  margin: 0 auto;
}

.reveal {
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: bold;
  z-index: -1;
  color: #000;
  position: absolute;
  opacity: 0;

  background: #fff;
  width: 100%;
  left: 0;
  bottom: 3em;
}

.images {
  position: relative;
}

.portfolio img:hover {
  opacity: 0.3;
}


.portfolio img:hover + p{
  opacity: 1;
}


footer img {
  width: 45px;
}


/*-------------------- Video ------------------*/

video {
    width: 100%;
    height: auto;
}

.video_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 1em;
  padding: 1em;
}

.clip video{
  width: 25em;
}

/*-------------------- Navigation ------------------*/

/*-------------------- Chart ------------------*/


/*-------------------- MEDIA QUERIES ------------------*/

@media (max-width: 768px) {
  #logo {
    width: 40px;
  }
  #header-top{
    margin: 0;
  }

  #hamber {
    margin-bottom: 1em;
  }
}
