



/*nav {
  background-image: url("images/header-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}*/

img {

  width: 100%;

}


h1, h2 {
  color: #eee;
}

#logo {
  width: 5em;
}



/*-------------------- MEDIA QUERIES ------------------*/

@media (max-width: 768px) {
  #logo {
    width: 40px;
  }

  #hamber {
    margin-bottom: 1em;
  }
}
